/*estilo general para la etiqueta code*/

code {
    font-size: x-large;
}


/*Este es un comentari en CSS*/

p {
    font-family: Verdana;
}


/*estilo aplicado a ejemplo4.html*/

p span {
    color: red;
}

h3 span {
    color: royalblue;
}

.nota {
    color: rgb(206, 126, 36);
}


/*Aplicando estilo en el atrivuto class con multiple valores*/
.aviso{
    font-size: 20px;
}
.especial{
    color: blueviolet;
}
.ejemplo{
    font-weight: bold;
}
/*Estilos con ejemplo del selector id*/
#aviso{
    color: blue;
    font-weight: bold;
}
/**/